*.pyc
channels/
Debug/*.so
Debug/**/*.o
Debug/**/*.d
Release/*.so
Release/**/*.o
Release/**/*.d
Debug/demodulator
Release/demodulator
Release Static/demodulator
Release Static/**/*.o
Release Static/**/*.d
test.bin
.settings
